#home {
	position: absolute;
	height: 90px;
	width: 6%;
	background-color: blue;
	float: left;
	text-align: center;
	display: inline-block;
	}
#home-name {
	position: absolute;
	bottom:0;
	text-align: center;
	}
.menu-text {
	position: relative;
	bottom: 0;	
	}
#menu-right {
	height: 90px;
	width: 92%;
	background-color: lightgrey;
	top: 10 px;
	overflow: hidden;
	text-align: center;
	padding-right: 30px;
	display: inline-block;
	float: right;

	}
#main-heading {
	position: absolute;
	text-align: center
	}
