body {
	display: flex;
	flex-flow: column wrap;
	height: 105vh;
	margin: 0;
	background-image: url('photoback.jpg');
	background-size: cover;
}

#main {
	display: flex;
	height: 100vh;
}
#img {
	width: 100%;
	height: 100%;
	background-size: 100% 118%;

}

#nav {
	
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;

}

.links {
	color: white;
	font-size: 27px;
	text-align: center;
	text-decoration: none;
	padding: 14px;
	border-radius: 6px;
}

.fa-brands {
	font-size: 45px;
	margin-right: 35px;
}

#footer {
	display: flex;
	justify-content: center;
	background-color: black;
	height: 59px;
	align-content: center;
}