.base {
	display: flex;
	flex-flow: column wrap;
	height: 100%;
	margin: 0;
	background-image: url('photoback.jpg');
	background-size: 100% 96%;
}

.main {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: end;
}

#main_nav {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	height: 100vh;
}

.nav_a {
	color: white;
	font-size: 27px;
	text-align: center;
	text-decoration: none;
	padding: 14px;
	border-radius: 6px;
	padding-right: 55px;
}

.nav_a:hover {
	background-color: black;
}

.fa-brands {
	font-size: 45px;
	margin-right: 35px;
}

#footer {
	display: flex;
	justify-content: center;
	background-color: black;
	height: 59px;
	align-content: center;
}

/*Gallery*/

#backImg {
	display: none;

}

#backImgFull {
	position: fixed;
	top: 116px;
	width: 100%;
	height: 88%;
	z-index: -1;
}

.base_pages {
	margin: 0;
	height: auto;
}


.pages_header {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: black;
	justify-content: space-around;

}

.pages_h1 {
	color: ghostwhite;
	margin-top: 0;
	padding-top: 15px;
	padding-left: 12px;
}

.pages_nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: end;
	align-self: center;


}

.pages_nav_a {
	text-decoration: none;
	padding: 14px;
	border-radius: 6px;
	color: ghostwhite;
	font-size: 27px;
}

.pages_main {
	 display: flex;
	 height: auto;
    flex-flow: row wrap;
    margin-top: 10px;
    justify-content: center;
}

.pages_main_picts {
	width: 28%;
    height: 360px;
	border-radius: 3px;
	border: 1px solid;
	position: relative;
	background-size: 104% 109%;
	background-repeat: no-repeat;
	margin-right: -1%;
}


figure:nth-of-type(1) {
		background-image: url('brightDay.jpg');

}

figure:nth-of-type(2) {
		background-image: url('xpicy.jpg');

}

figure:nth-of-type(3) {
		background-image: url('gdlpark.jpg');

}

figure:nth-of-type(4) {
		background-image: url('acuario.jpg');

}

figure:nth-of-type(5) {
		background-image: url('el_lago_con_el_may.jpg');
		background-size: 123% 100%;


}

figure:nth-of-type(6) {
		background-image: url('finca_ver.jpg');

}

figure:nth-of-type(7) {
		background-image: url('pichancha.jpg');
}



.picts_txt {
	display: block;
	background: transparent;
	color: transparent;
	height: 94%;
	width: 96%;
	border: 5px solid white;
	border-radius: 9px;
    font-size: 26px;
    position: relative;
	top: -31px;
    left: -5px;
    padding: 10px;
}

.picts_txt:hover {
	background-color: rgba(248, 249, 250, 79%);
	color: black;

}

#footerGal {
    display: flex;
	justify-content: center;
	background-color: black;
	height: 59px;
}



/*Philosophy*/

.main_ideas {
	background-color: black;
	padding: 29px;
    width: 450px;
    height: 240px;
    border-radius: 9px;
    margin: 16px 0;
    margin-right: 75px;
}

.phil_h {
	font-size: 4rem;
    color: ghostwhite;
    margin: 0;
}

.phil_p-modal {
 display: none;
 font-size: 40px;
 background-color: rgba(30, 58, 94, 97%);
 color: ghostwhite;
 position: absolute;
 width: 100%;
 height: 147%;
 margin: 0;
 top: 132px;
 left: 0;
 z-index: -1;
}

/*Stories*/
.main_stories {
	background-color: black;
	padding: 29px;
    width: 450px;
    height: 240px;
    border-radius: 9px;
    margin: 16px 0;
    margin-right: 75px;
}

.story_h {
	font-size: 4rem;
    color: ghostwhite;
    margin: 0;
}

.story_p-modal {
 display: none;
 font-size: 40px;
 background-color: rgba(30, 58, 94, 97%);
 color: ghostwhite;
 position: absolute;
 height: auto;
 width: 100%;
 margin: 0;
 top: 132px;
 left: 0;
 z-index: -1;
}


/*Articles*/

.main_articles {
	background-color: black;
	padding: 29px;
    width: 450px;
    height: 240px;
    border-radius: 9px;
    margin: 16px 0;
    margin-right: 75px;
}

.article_h {
	font-size: 4rem;
    color: ghostwhite;
    margin: 0;
}

.article_p-modal {
 display: none;
 font-size: 40px;
 background-color: rgba(30, 58, 94, 97%);
 color: ghostwhite;
 position: absolute;
 height: auto;
 width: 100%;
 margin: 0;
 top: 132px;
 left: 0;
 z-index: -1;
}

/*media queries*/
/*Landing page*/

@media (max-width: 600px) {

	#backImgFull {
		display: none;
	}

	.base {
	display: flex;
	flex-flow: column wrap;
	background-image: url(photoBack_mobile.jpg);
	height: auto;
	margin: 0;

	}

	.nav_a {
		font-size: 19px;
		padding-right: 23px;
	}

	.fa-brands {
		font-size: 27px;
		margin-right: 25px;
	}

	.footer_a {
		align-self: center;
	}


	/*Gallery*/

	#backImg {
		display: block;
		width: 107%;
	    height: 100%;
	    position: fixed;
	    top: 77px;
	    z-index: -1;
	}
	.base_pages {
		display: flex;
		flex-flow: column wrap;
		height: auto;
		margin: 0;
	}

	.pages_header {
		height: auto;
	}

	.pages_nav {
		display: flex;
		flex-flow: row wrap;
	}

	.pages_nav_a {
		font-size: 16px;
		padding: 11px;
	}


	.pages_h1 {
		font-size: 23px;
	}

	.pages_main {
		flex-flow: column wrap;
		margin-top: 20px;
	    align-content: center;
	    height: auto;
	    margin: 0;
	}

	.pages_main_picts {
		background-size: 101% 114%;
		margin-right: 0;
		margin-left: 0;
		width: 73%;
		height: 244px;

	}

	.picts_txt {
		height: 91%;
		width: 90%;
		font-size: 17px;
		top: -9%

	}




	figure:nth-of-type(4) {
			background-image: url('acuario.jpg');
			bottom: 0;

	}

	figure:nth-of-type(5) {
			background-image: url('el_lago_con_el_may.jpg');
			bottom: 0;
			background-size: 100% 100%;


	}

	figure:nth-of-type(6) {
			background-image: url('finca_ver.jpg');
			bottom: 0;

	}



	/*Philosophy*/

	.main_ideas {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 73%;
		height: 244px;
		margin-top: 16px;
		margin-bottom: 10px;
		margin-right: 0;
		padding: 0;

	}

	.phil_p-modal {
		font-size: 17px;
		width: 90%;
		height: 204%;
		top: 136px;
		padding: 4% 5%;
	}

	.phil_h {
	font-size: 2rem;
	text-align: center;
	}

	/*Stories*/

	.main_stories {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 73%;
		height: 244px;
		margin-top: 16px;
		margin-bottom: 10px;
		margin-right: 0;
		padding: 0;
	}

	.story_h {
		font-size: 2rem;
		text-align: center;
	}

	.story_p-modal {
		font-size: 17px;
		width: 90%;
		height: auto;
		top: 136px;
		padding: 4% 5%;

	}

	/*Articles*/

	.main_articles {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 73%;
		height: 244px;
		margin-top: 16px;
		margin-bottom: 10px;
		margin-right: 0;
		padding: 0;	
	}

	.article_h {
		font-size: 2rem;
		text-align: center;
	}

	.article_p-modal {
		font-size: 17px;
		width: 90%;
		height: auto;
		top: 136px;
		padding: 4% 5%;

	}
}